<section class="property-binding">
    <!-- <article>
        <h3>Interpolation/interpolação</h3>
        <p> String renderizada com interpolação {{ url }}</p>
        <p>Resultado de 10 + 10 é: {{ 10 + 10 }}</p>
        <p> resultado: {{ 10 + 10 + getValor()}}</p>
    </article>

    <article>
        <h3>Property binding </h3>
        <img [src]="urlImage" > -->
        <!-- formato padrão -->
        <!-- <img bind-src="urlImage" >
    </article> -->

    <!-- <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>
            property binding 
            <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
                success!
              </div>
              <div class="alert " role="alert" [class.alert-danger]="classe.value =='alert-danger'">
               danger!
              </div>
              <div class="alert " role="alert" [class.alert-warning]="classe.value =='alert-warning'">
               warning!
              </div>
              <div class="alert " role="alert" [class.alert-info]="classe.value =='alert-info'">
                info!
              </div>
              interpolação (eu achei muito melhor!)
              <div class="alert {{ classe.value }} "  role="alert">
                Texto colorido conforme valor do combobox
              </div>
               style binding 
              <div class="alert alert-danger" role="alert"
              [style.display]="classe.value == 'alert-danger'? 'block' : 'none'">
               Esse texto só pode aparecer em caso de erro.
               </div>

        </div>
    </article> -->
</section>

<!-- <section class="event-binding">
    <article>
        <h3>Event Binding</h3>
        
        <div>
            <button class="btn btn-primary" (click)="click()">Me clique</button>

            <br><br>

            <input type="text" (keyup)="onKey($event)" 
            (keyup.enter)="onEnte(campoInput.value)"
            #campoInput
            >
            <p> Valor:{{ valorAtual }}</p>
            <p>enter: {{ valorEnter }}</p>
        </div>


    </article>



</section> -->

<!-- <section class="two-way-binding">

    <article>
        <h3>Two-way Data Binding</h3>

        <div>
            [()] "sintaxe banana na caixa" 
            <input type="text"[(ngModel)] = "nome">
           por trás dos panos 
            <input type="text" bindon-ngModel="nome">
            <p>Você digitou: {{ nome }}</p>
        </div>

    </article> 

</section> -->

<section class="input-output-properties">
    <article>
        <h3>Input/Output Properties</h3>

       
     <app-curso [nome]="nomeDoCurso"></app-curso>
     <p> quantidade de alunos</p>
     <contador [valor]="valorInicio"
     (mudouValor)="onMudouValor($event)"
     ></contador>

    </article>
</section>